services:
  app:
    build: .
    container_name: smoke-app
    restart: always
    ports:
      - "3001:3001"
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - smoke-network
  mqtt:
    build: .
    container_name: smoke-mqtt
    restart: always
    command: npx node src/mqtt.ts
    env_file:
      - .env
    ports:
      - "1883:1883"
    networks:
      - smoke-network
  db:
    image: postgres:17-alpine
    container_name: smoke-db
    restart: always
    env_file:
      - .env
    ports:
      - "5433:5432"
    volumes:
      - smoke-pgdata:/var/lib/postgresql/data
    networks:
      - smoke-network
networks:
  smoke-network:
    driver: bridge
volumes:
  smoke-pgdata:
